* {
	font-family: 'akto-sans', sans-serif;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	/*		@include crossBrowser(font-smoothing, antialiased);*/
	/*		@include crossBrowser(box-sizing, border-box);*/
}

a {
	color: inherit;
}

input:focus {
	outline: none;
}

::selection {
	background-color: #000000;
}

body {
	border-left: 10px solid black;
	margin: 0;
	padding: 0;
	width: 100vw;
	height: 100%;
}

figure {
	margin: 0;
}

.jumbo {
	width: 100%;
	min-height: 100vh;
	position: relative;
	margin: 0;
	padding: 0;
}

time {
	color: white;
	font-size: 10em;
	text-align: center;
	display: inline-block;
	width: 100%;
	span:not(:first-of-type):before {
		content: " : ";
	}
}

.jumbo--padding {
	padding: 6em;
}

.jumbo__statement {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	margin-top: -10em;
}

.jumbo__statement__header {
	font-weight: 100;
}

.jumbo__statement__text {
	font-weight: 400;
	color: rgba(0, 0, 0, 0.5);
}

.flex-container {
	display: flex;
	justify-content: space-between;
}

.flex-row-space-between {
	flex-direction: row;
	flex-wrap: wrap;
}

#video {
	width: 80%;
	background-color: beige;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	display: block;
	transform: translateY(-10em);
}

.guest {
	display: inline-block;
	padding: 0;
	margin: 0;
	margin-bottom: 3em;
	outline: 0;
	width: calc(((100vw - 12em) / 3) - 16px);
	.guest__role {
		background-color: green;
		font-size: 0.8em;
		padding: 4px;
		margin: 0;
	}
	.guest__name {
		font-weight: 400;
		margin-bottom: 0;
		margin-top: 8px;
	}
	.guest__description {
		color: rgba(0, 0, 0, 0.5);
		font-weight: 400;
		font-size: 1.2em;
		margin-bottom: 0;
		margin-top: 4px;
	}
	.guest__portrait {
		background-color: palegoldenrod;
		width: calc(((100vw - 12em) / 3) - 1em);
		height: calc(((100vw - 12em) / 3) - 1em);
		/*
		min-width: 100px;
		min-height: 100px;
		*/
		margin: 0;
		margin-bottom: 1em;
	}
}

.faq {
	width: calc(((100vw - 12em) / 2) - 1em);
	height: calc(((100vw - 12em) / 3) - 1em);
	display: inline-block;
	margin: 0;
	margin-bottom: 1em;
	padding: 2em;
	position: relative;
	background-color: #000000;
	transform-style: preserve-3d;
	-webkit-transform-style: preserve-3d;
	color: white;
	-webkit-transition: all 0.3s;
	.faq__container {
		-webkit-perspective: 1000px;
	}
	.faq__back,
	.faq__front {
		-webkit-backface-visibility: none;
	}
	.faq__back {
		top: 0;
		left: 0;
		position: absolute;
		width: 100%;
		height: 100%;
		background-color: black;
	}
	.faq__front {
		top: 0;
		left: 0;
		position: absolute;
		width: 100%;
		height: 100%;
		background-color: black;
	}
	.faq__back {
		transform: rotateY(-180deg);
		-webkit-transform: rotateY(-180deg);
	}
}

.flipped {
	transform: rotateY(-180deg);
	-webkit-transform: rotateY(-180deg);
}

.section__header {
	font-size: 3em;
	font-weight: 300;
}

.bg-black {
	background-color: black;
}

.footer {
	background-color: black;
	margin: 0;
	color: white;
	.footer__copy {
		float: right;
		display: inline-block;
		vertical-align: middle;
	}
	.footer__statement {
		font-weight: 100;
		font-size: 3em;
		margin: 0;
		margin-bottom: 2em;
	}
	.footer__contact {
		display: inline-block;
		margin-right: 4em;
		vertical-align: top;
		margin-bottom: 3em;
	}
	.footer__email {
		display: inline-block;
		vertical-align: top;
	}
	.footer__email-inner {
		display: flex;
	}
	.footer__email input[type="email"] {
		background-color: transparent;
		border: 1px solid white;
		border-top-left-radius: 4px;
		border-bottom-left-radius: 4px;
		padding: 1em;
		display: inline-block;
		width: 24em;
		margin: 0;
		color: white;
	}
	.footer__email input[type="email"]::-webkit-input-placeholder {
		color: white;
	}
	.footer__email input[type="email"]::-moz-placeholder {
		color: white;
	}
	.footer__email input[type="email"]::-ms-placeholder {
		color: white;
	}
	.footer__email input[type="email"]::-o-placeholder {
		color: white;
	}
	.footer__email input[type="email"]::placeholder {
		color: white;
	}
	.footer__email input[type="submit"] {
		background-color: white;
		padding: 1em;
		width: 4em;
		display: inline-block;
		border: none;
		border-top-right-radius: 4px;
		border-bottom-right-radius: 4px;
	}
	/* Bottom */
}


/* Responsive */

@mixin media ($width) {
	@media screen and (max-width: $width) {
		@content;
	}
}

@include media (800px) {
	html {
		font-size: 80%;
	}
	
	#video {
		width: 100%;
	}
	.jumbo--padding {
		padding: 2em 2em 2em 2em;
	}
	.guest {
		display: block;
		width: calc(100vw - 4em);
		margin-left: auto;
		margin-right: auto;
		.guest__portrait {
			width: calc(100vw - 4em);
			height: calc(100vw - 4em);
		}
	}
	.faq {
		display: block;
		width: calc(100vw - 4em);
		height: calc((100vw) * (2/3) - 4em);
	}
}