html {
  background-color: black;
  width: 100%; }

* {
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased; }

@keyframes float {
  0% {
    transform: translateY(0); }
  50% {
    transform: translateY(-8%); }
  100% {
    transform: translateY(0); } }
@keyframes fade-in {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@keyframes fade-to-left {
  0% {
    opacity: 0;
    transform: translateX(10vw); }
  100% {
    opacity: 1;
    transform: translateX(0vw); } }
@keyframes fade-to-right {
  0% {
    opacity: 0;
    transform: translateX(-10vw); }
  100% {
    opacity: 1;
    transform: translateX(0vw); } }
@keyframes fade-down {
  0% {
    transform: translateY(-4vh);
    opacity: 0; }
  100% {
    transform: translateY(0vh);
    opacity: 1; } }
@keyframes fade-up {
  0% {
    transform: translateY(4vh);
    opacity: 0; }
  100% {
    transform: translateY(0vh);
    opacity: 1; } }
img {
  user-drag: none;
  -webkit-user-drag: none; }

body {
  padding: 72px;
  margin: 0;
  width: calc(100vw - 72px * 2);
  height: calc(100vh - 72px * 2); }

.bg {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  margin: 0;
  z-index: -1;
  opacity: 0.48;
  background-image: url("../../assets/images/bg.png"); }

div {
  width: 100%; }

hr {
  border-top: none;
  border-right: none;
  border-bottom: 2px solid white;
  border-left: none;
  opacity: 1;
  width: 100%; }

#line_bottom {
  animation: fade-to-right 2.4s ease; }

#line_top {
  animation: fade-to-left 2.4s ease; }

.jumbo_title,
.jumbo_subtitle {
  text-align: center;
  font-family: 'azo-sans-web', 'Atlas Grotesk';
  /* Test Font */ }

.jumbo_title {
  font-size: 5rem;
  font-weight: 100;
  width: fit-content;
  margin: auto;
  color: white;
  animation: fade-in ease 4s;
  opacity: 0;
  animation-fill-mode: forwards; }

.jumbo_subtitle {
  font-size: 1.24rem;
  font-size: 2rem;
  font-weight: 400;
  width: fit-content;
  margin: auto;
  color: rgba(255, 255, 255, 0.8);
  animation: fade-in ease 4s;
  opacity: 0;
  animation-fill-mode: forwards; }

hgroup {
  display: block;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 64px; }

a {
  -webkit-transition: all ease-in-out 0.2;
  -moz-transition: all ease-in-out 0.2;
  -ms-transition: all ease-in-out 0.2;
  -o-transition: all ease-in-out 0.2;
  transition: all ease-in-out 0.2; }

a:hover {
  opacity: 0.8; }

form {
  display: block;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  animation: 2s fade-in 1s ease;
  opacity: 0;
  animation-fill-mode: forwards; }

input[type="email"] {
  height: 48px;
  width: 400px;
  padding-left: 24px;
  border: none;
  outline: none;
  -webkit-transition: all ease-in-out 0.4s;
  -moz-transition: all ease-in-out 0.4s;
  -ms-transition: all ease-in-out 0.4s;
  -o-transition: all ease-in-out 0.4s;
  transition: all ease-in-out 0.4s; }
  input[type="email"]:hover::-webkit-input-placeholder {
    -webkit-transition: all ease-in-out 0.4s;
    -moz-transition: all ease-in-out 0.4s;
    -ms-transition: all ease-in-out 0.4s;
    -o-transition: all ease-in-out 0.4s;
    transition: all ease-in-out 0.4s;
    opacity: 0.6; }

input[type="email"]::-webkit-input-placeholder {
  text-transform: uppercase;
  margin: 0;
  border: 0; }

input[type="email"]:focus {
  outline: none; }

input[type="email"],
.button {
  font-size: 0.88rem;
  margin: 0; }

.button {
  cursor: pointer;
  text-transform: uppercase;
  margin: 0;
  border: none;
  outline: none;
  color: #FFFFFF;
  background-color: #000000;
  height: 50px;
  padding-top: auto;
  padding-bottom: auto;
  margin-left: -4px;
  line-height: normal;
  padding-left: 24px;
  padding-right: 24px;
  border: 2px solid #FFFFFF;
  -webkit-transition: all ease-in-out 0.4s;
  -moz-transition: all ease-in-out 0.4s;
  -ms-transition: all ease-in-out 0.4s;
  -o-transition: all ease-in-out 0.4s;
  transition: all ease-in-out 0.4s; }
  .button:focus {
    outline: none; }
  .button:hover {
    background-color: #8BDA48;
    color: #ffffff;
    border: 2px solid #8BDA48; }

.flex {
  display: flex; }

.flex--vertical-center {
  align-items: center; }

.flex--vertical-space-between {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between; }

ul {
  margin: 0;
  padding-top: 0;
  padding-right: 16px;
  padding-bottom: 0;
  padding-left: 16px;
  display: flex;
  list-style: none;
  align-items: center; }

.icon {
  padding-left: 24px;
  padding-right: 24px; }

.icon-set {
  display: flex;
  position: relative;
  padding-left: 56px;
  padding-right: 56px;
  height: auto; }

li {
  margin: 0; }

#logo {
  width: 96px;
  height: 96px;
  padding-left: 64px;
  padding-right: 64px;
  -webkit-transition: all ease-in-out 0.4s;
  -moz-transition: all ease-in-out 0.4s;
  -ms-transition: all ease-in-out 0.4s;
  -o-transition: all ease-in-out 0.4s;
  transition: all ease-in-out 0.4s;
  animation: float ease 8s;
  animation-iteration-count: infinite; }

@media (max-width: 800px) {
  html {
    font-size: 80%; }

  body {
    width: calc(100vw - 48px * 2);
    height: calc(100vh - 48px * 2);
    padding: 48px; }

  input[type="email"],
  .button {
    font-size: 1.16rem; }

  #logo {
    padding-left: 32px;
    padding-right: 32px; } }
@media (max-width: 700px) {
  html {
    font-size: 72%; }

  body {
    width: calc(100vw - 32px * 2);
    height: calc(100vh - 32px * 2);
    padding: 32px; }

  #logo {
    width: 24px;
    padding-left: 16px;
    padding-right: 16px; }

  form {
    width: 100%; }

  input[type="email"] {
    display: block;
    padding: 0;
    width: 100%;
    text-align: center; }

  .button {
    display: block;
    margin-top: 16px;
    width: 100%;
    margin-left: 0px; }

  input[type="email"]::-webkit-input-placeholder {
    text-align: center; } }
@media (max-width: 600px) {
  html {
    font-size: 64%; }

  body {
    width: calc(100vw - 36px * 2);
    height: calc(100vh - 36px * 2);
    padding: 36px; }

  #logo {
    width: 24px; }

  hr {
    border-bottom-width: 1px; }

  input[type="email"],
  .button {
    font-size: 1.24rem; } }
@media (max-width: 500px) {
  html {
    font-size: 56%; }

  body {
    width: calc(100vw - 48px * 2);
    height: calc(100vh - 48px * 2);
    padding: 48px; }

  .icon {
    padding-left: 16px;
    padding-right: 16px; }

  .icon-set {
    padding-left: 56px;
    padding-right: 56px; }

  input[type="email"],
  .button {
    font-size: 1.48rem; }

  .button:hover {
    transform: scale(1);
    opacity: 1; }

  .icon-set {
    padding: 0; } }

/*# sourceMappingURL=main.css.map */
